/* This is style for paragraph and div */
#p1, #p2
{
    margin-top: 100px;
    margin-left: 80px;
    display: block;
    background-color: rgb(211, 211, 211);
}
#div1
{
    padding-left: 30px;
    padding-right: 25px;
    background-color: blue;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
}