@media only screen and (min-width: 0px) and (max-width: 500px){
    body
    {
        font-size: 10px;
        background-color: blue;
    }
}
@media only screen and (min-width: 500px) and (max-width: 899px) {
    body
    {
        font-size: 20px;
        background-color: red;
    }
}
@media only screen and (min-width: 900px){
    body
    {
        font-size: 30px;
        background-color: green;
    }
}
body
{
    color: white;
}